@charset "ISO-8859-1";

 .uploadimghidden{
 	display: none;
 	visibility: hidden;
 }
	#dvConteudo{
 		display: none;
 		height: 640px;
    
 	}
 
 
/*  #sobrp{
 	position: fixed;
 	height: 500px;
    top: 98%;
    width: 100%;
    background-color: #E0E0E0;
    margin-top: -2.5em;
 } */
 .disp{
 	display: none;
 }
 
 .identificado{
  
 }
 
  .uploadimgvisible{
 	visibility: visible;
 	display: block;
 }

 
 #btnExibeOculta{
 	padding-top: 1px;
 }
 
 *{margin: 0 auto; padding:0;}
             
            #dvCentro{
                
                border:1px solid #000;
            }
             
          
             
            .btnn {
            -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
            -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
            box-shadow:inset 0px 1px 0px 0px #97c4fe;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
            background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
            filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=' #3d94f6', endColorstr=' #1e62d0' );
            background-color:#3d94f6;
            -webkit-border-top-left-radius:20px;
            -moz-border-radius-topleft:20px;
            border-top-left-radius:20px;
            -webkit-border-top-right-radius:20px;
            -moz-border-radius-topright:20px;
            border-top-right-radius:20px;
            -webkit-border-bottom-right-radius:20px;
            -moz-border-radius-bottomright:20px;
            border-bottom-right-radius:20px;
            -webkit-border-bottom-left-radius:20px;
            -moz-border-radius-bottomleft:20px;
            border-bottom-left-radius:20px;
            text-indent:0;
            border:1px solid #337fed;
            display:inline-block;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            font-style:normal;
            height:50px;
            line-height:50px;
            width:130px;
            text-decoration:none;
            text-align:center;
            text-shadow:1px 1px 0px #1570cd;
        }
        .btnn:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
            background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
            background-color:#1e62d0;
        }.btnn:active {
            position:relative;
            top:1px;
        }
        
        
        #arq1{
        	background-color: blue;
        	color: blue;
        }
        

    .scroll { 
        overflow-x: hidden;
        overflow-y: scroll;
        white-space:nowrap;
    } 
    
    .registeration{
    border-top: 5px solid #2196f3;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47); 
    margin: 100px;
     margin-top:10px;
	}

.registerInner{
 margin: 15px;
}

.headerSign{
    color: teal;
    margin-bottom: 20px;
    text-align: center;
}

.navbar, .dropdown-menu{
background-color: #dddddd;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #000000;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
   .navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
} 
   