<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jstl/core"
   xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputScript library="javax.faces" name="jsf.js" target="head" />
	<title>Detalhe Corpo</title>

	<style> /*<!--  ESTILO DO MAPA -->
	Always set the map height explicitly to define the size of the div
	       * element that contains the map. */
#map {
	height: 25%;
}
/* Optional: Makes the sample page fill the window. */
 html, body {
 
  height: 100%;
 
  margin: 0;
 
  padding: 0;
 
}
 
</style>


	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function() {
		$("#dataChegada").datepicker(
				{
					dateFormat : 'dd/mm/yy',
					dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta',
							'Quinta', 'Sexta', 'Sábado' ],
					dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D' ],
					dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex',
							'Sáb', 'Dom' ],
					monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril',
							'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
							'Outubro', 'Novembro', 'Dezembro' ],
					monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai',
							'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
					nextText : 'Próximo',
					prevText : 'Anterior'
				});
	});
	
	
</script>

	<link rel="stylesheet" type="text/css" href="arq.css" />


</h:head>
<body jsf:id="body">
	<div class="navbar-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-sm-7 logo">
					<a style="margin-left: 100px;" href="index.xhtml"
						title="PCDF - Polícia Civil do Distrito Federal"><img
						src="logo-pcdf.png"
						title="PCDF - Polícia Civil do Distrito Federal"
						alt="PCDF - Polícia Civil do Distrito Federal" /></a>
				</div>
			</div>
			<br />
			<nav class="navbar navbar-default">
				<div class="container-fluid">
				<div class="top-content">
				<div class="row">
				</div>
				</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="pesquisaCorpos.xhtml">PCDF</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.xhtml">Login</a>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				
				<!-- /.container-fluid -->
			</nav>
			<div class="col-md-12">
				<div jsf:rendered="#{usuarioController.hasMessageError()}">
					<div jsf:rendered="#{not empty facesContext.messageList}"
						class="alert alert-danger">
						<h:messages>
						</h:messages>
					</div>
				</div>
				<div jsf:rendered="#{usuarioController.hasMessageSuccess()}">
					<div jsf:rendered="#{not empty facesContext.messageList}"
						class="alert alert-success">
						<h:messages>
						</h:messages>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="col-md-offset-3">
			
			<div class="col-md-9">
				<div class="panel panel-primary"
					style="width: 552px; margin-top: 60px">
					<div class="panel-heading">Esqueci a Senha</div>
					<div class="panel-body">
					<form jsf:id="formRecSenha" jsf:prependId="false" > 
							<div class="col-md-offset-2">
							<div class="row">
									<div class="col-md-10" style="height: 60px;">
										<div class="input-group">
										
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-envelope"></i></span>
											<input class="form-control" p:placeholder="digite email" id="emailCadastrado" type="text" jsf:value="#{loginController.email}"  />
										
										</div>	
									</div>
									
								</div> 
									<div class="col-md-offset-3 " style="display: none;">
										<span>Email Não Cadastrado!</span>  
									</div>
									<div class="col-md-offset-4">
										<div class="row">
													<button type="submit"
												jsf:action="#{loginController.enviarEmail()}"
													class="btn btn-primary">Enviar Email</button>
											
										</div>
								    </div>	
								</div> 
						</form>
					 
					</div>
				</div>
				
				
				
			</div>
			
		</div>
	
	
</body>
<script src="val.js"></script>
</html>